<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input id="email" type="email" placeholder="email">
<input id="name" type="text" placeholder="name">
<input id="password" type="password" placeholder="password">
<input id="password2" type="password" placeholder="password again">
<button id="signup">Sign Up</button>


<script type="module" src="/static/js/user.js"></script>
<script type="module" src="/static/js/controller/userController.js"></script>
<script type="module" src="/static/js/dto/user.js"></script>
<script type="module" src="/static/js/model/userModel.js"></script>
<script type="module" src="/static/js/controller/controller.js"></script>
</body>
</html>